article.card {
    display: flex;
    flex-direction: column;
}

.prompt-body {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#themeIcon.jump {
    animation: theme-jump 0.3s ease;
}

@keyframes theme-jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.3rem);
    }
    100% {
        transform: translateY(0);
    }
}
